In [ ]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
import time

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [ ]:
spark

In [ ]:
#config
#spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", True)
#ps.set_option("compute.default_index_type", "distributed")

### customer data eda

In [ ]:
customers_pd = pd.read_csv('/content/h_m_dataset/customers.csv')

In [ ]:
customers_pd['FN'] = customers_pd['FN'].astype("object")
customers_pd['Active'] = customers_pd['Active'].astype("object")
customers_pd.info()

print(customers_pd.info())
print(customers_pd.head(5))
print(customers_pd.describe())

customers_ps = ps.from_pandas(customers_pd)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137198 entries, 0 to 137197
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              137198 non-null  int64
 1   customer_id             137198 non-null  object
 2   FN                      47980 non-null   object
 3   Active                  46761 non-null   object
 4   club_member_status      136591 non-null  object
 5   fashion_news_frequency  135574 non-null  object
 6   age                     135576 non-null  float64
 7   postal_code             137198 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 8.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137198 entries, 0 to 137197
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              137198 non-null  int64
 1   customer_id             137198 non-null  object
 2   FN                      47980 non-null   object
 3   Active                  46761 non-null   object
 4   club_member_status      136591 non-null  object
 5   fashion_news_frequency  135574 non-null  object
 6   age                     135576 non-null  float64
 7   postal_code             137198 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 8.4+ MB
None
   Unnamed: 0  ...                                        postal_code
0     1081935  ...  896eb6e48e4074b81ad8b9a52c60b04a21cd013789e86a...
1     1319489  ...  3920301d83b508a2aa7c230aa6a97a187c29e58afaefd0...
2     1371393  ...  2a4858b7c4901fc93c457fccde1ce446090ead1e7dcb5f...
3      536966  ...  97435281ed9c2071958178394b4da3da4407d70c9866fa...
4      752013  ...  77b58c4df3df58df810c74016e259c0eca4cf2618bf0eb...

[5 rows x 8 columns]
         Unnamed: 0            age
count  1.371980e+05  135576.000000
mean   6.860971e+05      36.419683
std    3.957791e+05      14.312465
min    2.000000e+00      16.000000
25%    3.434332e+05      24.000000
50%    6.856540e+05      32.000000
75%    1.030090e+06      49.000000
max    1.371972e+06      99.000000

In [ ]:
# missing value test
customers_colna_perc = customers_ps.isnull().sum()/len(customers_ps)*100
print(customers_colna_perc)

Unnamed: 0                 0.000000
customer_id                0.000000
FN                        65.028645
Active                    65.917142
club_member_status         0.442426
fashion_news_frequency     1.183691
age                        1.182233
postal_code                0.000000
dtype: float64

In [ ]:
# one-variable distribution(if object than value_counts(dropna=False),float64 or int32 than histogram)
# 1.turn your column type to object or int(float)
# 2.object -> value_counts
# 3.int -> histogram
def one_var_dist(df):
  plot_dict = {}
  for col in df.columns:
    if ((df[col].dtypes in ['object']) & (len(df[col].unique()) < 25)): 
      plot_dict.update({col:df[col].value_counts(dropna=False)})
    elif(df[col].dtypes in ['float64','int32']):
      plot_dict.update({col:df[col].hist(bins=20)})       
    else:
      plot_dict.update({col:'this col has unique values:'+str(len(df[col].unique()))})
  return plot_dict

In [ ]:
plot_dict_customers = one_var_dist(customers_ps)
for key,value in plot_dict_customers.items():
  if str(type(value)) in ['<class \'plotly.graph_objs._figure.Figure\'>']:
      print(key)
      plot_dict_customers[key].show()
  else:
    print(key)
    print(value)
  print('---------------------------------------------------------------')

Unnamed: 0
this col has unique values:137198
---------------------------------------------------------------
customer_id
this col has unique values:137198
---------------------------------------------------------------
FN
NaN    89218
1.0    47980
Name: FN, dtype: int64
---------------------------------------------------------------
Active
NaN    90437
1.0    46761
Name: Active, dtype: int64
---------------------------------------------------------------
club_member_status
ACTIVE        127207
PRE-CREATE      9342
NaN              607
LEFT CLUB         42
Name: club_member_status, dtype: int64
---------------------------------------------------------------
fashion_news_frequency
NONE         87427
Regularly    48052
NaN           1624
Monthly         95
Name: fashion_news_frequency, dtype: int64
---------------------------------------------------------------
age

---------------------------------------------------------------
postal_code
this col has unique values:99517
---------------------------------------------------------------

### article data eda

In [ ]:
articles_pd = pd.read_csv('/content/h_m_dataset/articles.csv')

In [ ]:
articles_pd['article_id'] = articles_pd['article_id'].astype("object")
articles_pd['product_code'] = articles_pd['product_code'].astype("object")
articles_pd['product_type_no'] = articles_pd['product_type_no'].astype("object")
articles_pd['graphical_appearance_no'] = articles_pd['graphical_appearance_no'].astype("object")
articles_pd['colour_group_code'] = articles_pd['colour_group_code'].astype("object")
articles_pd['perceived_colour_value_id'] = articles_pd['perceived_colour_value_id'].astype("object")
articles_pd['perceived_colour_master_id'] = articles_pd['perceived_colour_master_id'].astype("object")
articles_pd['department_no'] = articles_pd['department_no'].astype("object")
articles_pd['index_group_no'] = articles_pd['index_group_no'].astype("object")
articles_pd['section_no'] = articles_pd['section_no'].astype("object")
articles_pd['garment_group_no'] = articles_pd['garment_group_no'].astype("object")
articles_pd.info()

print(articles_pd.info())
print(articles_pd.head(5))
print(articles_pd.describe())

articles_ps = ps.from_pandas(articles_pd)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10554 entries, 0 to 10553
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    10554 non-null  int64
 1   article_id                    10554 non-null  object
 2   product_code                  10554 non-null  object
 3   prod_name                     10554 non-null  object
 4   product_type_no               10554 non-null  object
 5   product_type_name             10554 non-null  object
 6   product_group_name            10554 non-null  object
 7   graphical_appearance_no       10554 non-null  object
 8   graphical_appearance_name     10554 non-null  object
 9   colour_group_code             10554 non-null  object
 10  colour_group_name             10554 non-null  object
 11  perceived_colour_value_id     10554 non-null  object
 12  perceived_colour_value_name   10554 non-null  object
 13  perceived_colour_master_id    10554 non-null  object
 14  perceived_colour_master_name  10554 non-null  object
 15  department_no                 10554 non-null  object
 16  department_name               10554 non-null  object
 17  index_code                    10554 non-null  object
 18  index_name                    10554 non-null  object
 19  index_group_no                10554 non-null  object
 20  index_group_name              10554 non-null  object
 21  section_no                    10554 non-null  object
 22  section_name                  10554 non-null  object
 23  garment_group_no              10554 non-null  object
 24  garment_group_name            10554 non-null  object
 25  detail_desc                   10508 non-null  object
dtypes: int64(1), object(25)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10554 entries, 0 to 10553
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    10554 non-null  int64
 1   article_id                    10554 non-null  object
 2   product_code                  10554 non-null  object
 3   prod_name                     10554 non-null  object
 4   product_type_no               10554 non-null  object
 5   product_type_name             10554 non-null  object
 6   product_group_name            10554 non-null  object
 7   graphical_appearance_no       10554 non-null  object
 8   graphical_appearance_name     10554 non-null  object
 9   colour_group_code             10554 non-null  object
 10  colour_group_name             10554 non-null  object
 11  perceived_colour_value_id     10554 non-null  object
 12  perceived_colour_value_name   10554 non-null  object
 13  perceived_colour_master_id    10554 non-null  object
 14  perceived_colour_master_name  10554 non-null  object
 15  department_no                 10554 non-null  object
 16  department_name               10554 non-null  object
 17  index_code                    10554 non-null  object
 18  index_name                    10554 non-null  object
 19  index_group_no                10554 non-null  object
 20  index_group_name              10554 non-null  object
 21  section_no                    10554 non-null  object
 22  section_name                  10554 non-null  object
 23  garment_group_no              10554 non-null  object
 24  garment_group_name            10554 non-null  object
 25  detail_desc                   10508 non-null  object
dtypes: int64(1), object(25)
memory usage: 2.1+ MB
None
   Unnamed: 0  ...                                        detail_desc
0       57558  ...  Dress in a sturdy weave with a sheen. Slightly...
1       16445  ...  V-neck T-shirt in organic cotton jersey. Regul...
2       92101  ...  Short dress in soft cotton jersey with long sl...
3       61255  ...  Wide coat in a felted weave with notch lapels ...
4       84721  ...  Sports trousers in a rustle weave made from re...

[5 rows x 26 columns]
          Unnamed: 0
count   10554.000000
mean    52690.499810
std     30385.899777
min         2.000000
25%     26830.250000
50%     52205.000000
75%     79302.000000
max    105536.000000

In [ ]:
# missing value test
articles_colna_perc = articles_ps.isnull().sum()/len(articles_ps)*100
print(articles_colna_perc)

Unnamed: 0                      0.000000
article_id                      0.000000
product_code                    0.000000
prod_name                       0.000000
product_type_no                 0.000000
product_type_name               0.000000
product_group_name              0.000000
graphical_appearance_no         0.000000
graphical_appearance_name       0.000000
colour_group_code               0.000000
colour_group_name               0.000000
perceived_colour_value_id       0.000000
perceived_colour_value_name     0.000000
perceived_colour_master_id      0.000000
perceived_colour_master_name    0.000000
department_no                   0.000000
department_name                 0.000000
index_code                      0.000000
index_name                      0.000000
index_group_no                  0.000000
index_group_name                0.000000
section_no                      0.000000
section_name                    0.000000
garment_group_no                0.000000
garment_group_name              0.000000
detail_desc                     0.435854
dtype: float64

In [ ]:
plot_dict_articles = one_var_dist(articles_ps)
for key,value in plot_dict_articles.items():
  if str(type(value)) in ['<class \'plotly.graph_objs._figure.Figure\'>']:
      print(key)
      plot_dict_articles[key].show()
  else:
    print(key)
    print(value)
  print('---------------------------------------------------------------')

Unnamed: 0
this col has unique values:10554
---------------------------------------------------------------
article_id
this col has unique values:10554
---------------------------------------------------------------
product_code
this col has unique values:8994
---------------------------------------------------------------
prod_name
this col has unique values:8943
---------------------------------------------------------------
product_type_no
this col has unique values:101
---------------------------------------------------------------
product_type_name
this col has unique values:101
---------------------------------------------------------------
product_group_name
Garment Upper body     4237
Garment Lower body     1961
Garment Full body      1336
Accessories            1178
Shoes                   561
Underwear               521
Swimwear                317
Socks & Tights          213
Nightwear               195
Unknown                  17
Bags                      6
Cosmetic                  4
Items                     3
Furniture                 3
Fun                       1
Underwear/nightwear       1
Name: product_group_name, dtype: int64
---------------------------------------------------------------
graphical_appearance_no
this col has unique values:29
---------------------------------------------------------------
graphical_appearance_name
this col has unique values:29
---------------------------------------------------------------
colour_group_code
this col has unique values:49
---------------------------------------------------------------
colour_group_name
this col has unique values:49
---------------------------------------------------------------
perceived_colour_value_id
 4    4358
 1    2250
 3    1513
 2    1237
 5     627
 7     557
 6       8
-1       4
Name: perceived_colour_value_id, dtype: int64
---------------------------------------------------------------
perceived_colour_value_name
Dark            4358
Dusty Light     2250
Light           1513
Medium Dusty    1237
Bright           627
Medium           557
Undefined          8
Unknown            4
Name: perceived_colour_value_name, dtype: int64
---------------------------------------------------------------
perceived_colour_master_id
 5     2293
 2     1847
 9     1231
 4      954
 12     897
 11     564
 18     547
 19     349
 8      313
 20     298
 3      283
 13     224
 15     214
 7      192
 1      146
 6      115
-1       78
 14       8
 10       1
Name: perceived_colour_master_id, dtype: int64
---------------------------------------------------------------
perceived_colour_master_name
Black              2293
Blue               1847
White              1231
Pink                954
Grey                897
Beige               564
Red                 547
Green               349
Yellow              313
Khaki green         298
Orange              283
Brown               224
Metal               214
Turquoise           192
Mole                146
Lilac Purple        115
Unknown              78
undefined             8
Yellowish Green       1
Name: perceived_colour_master_name, dtype: int64
---------------------------------------------------------------
department_no
this col has unique values:285
---------------------------------------------------------------
department_name
this col has unique values:239
---------------------------------------------------------------
index_code
A    2579
D    1549
F    1301
H    1113
I     921
G     874
C     695
B     665
J     501
S     356
Name: index_code, dtype: int64
---------------------------------------------------------------
index_name
Ladieswear                        2579
Divided                           1549
Menswear                          1301
Children Sizes 92-140             1113
Children Sizes 134-170             921
Baby Sizes 50-98                   874
Ladies Accessories                 695
Lingeries/Tights                   665
Children Accessories, Swimwear     501
Sport                              356
Name: index_name, dtype: int64
---------------------------------------------------------------
index_group_no
1     3939
4     3409
2     1549
3     1301
26     356
Name: index_group_no, dtype: int64
---------------------------------------------------------------
index_group_name
Ladieswear       3939
Baby/Children    3409
Divided          1549
Menswear         1301
Sport             356
Name: index_group_name, dtype: int64
---------------------------------------------------------------
section_no
this col has unique values:56
---------------------------------------------------------------
section_name
this col has unique values:56
---------------------------------------------------------------
garment_group_no
1005    2158
1019    1189
1002     785
1003     724
1017     718
1009     651
1010     596
1020     542
1013     508
1007     452
1001     401
1016     313
1018     286
1021     211
1011     207
1006     194
1025     153
1014     145
1012     124
1023     106
1008      91
Name: garment_group_no, dtype: int64
---------------------------------------------------------------
garment_group_name
Jersey Fancy                     2158
Accessories                      1189
Jersey Basic                      785
Knitwear                          724
Under-, Nightwear                 718
Trousers                          651
Blouses                           596
Shoes                             542
Dresses Ladies                    508
Outdoor                           452
Unknown                           401
Trousers Denim                    313
Swimwear                          286
Socks and Tights                  211
Shirts                            207
Woven/Jersey/Knitted mix Baby     194
Shorts                            153
Dresses/Skirts girls              145
Skirts                            124
Special Offers                    106
Dressed                            91
Name: garment_group_name, dtype: int64
---------------------------------------------------------------
detail_desc
this col has unique values:8573
---------------------------------------------------------------

### transaction data eda

In [ ]:
transactions_pd = pd.read_csv('/content/h_m_dataset/transactions_train.csv')

In [ ]:
# turn column type 
transactions_pd['article_id'] = transactions_pd['article_id'].astype("object")
transactions_pd['sales_channel_id'] = transactions_pd['sales_channel_id'].astype("object")
transactions_pd.info()

print(transactions_pd.info())
print(transactions_pd.head(5))
print(transactions_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317883 entries, 0 to 317882
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        317883 non-null  int64
 1   t_dat             317883 non-null  object
 2   customer_id       317883 non-null  object
 3   article_id        317883 non-null  object
 4   price             317883 non-null  float64
 5   sales_channel_id  317883 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 14.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317883 entries, 0 to 317882
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        317883 non-null  int64
 1   t_dat             317883 non-null  object
 2   customer_id       317883 non-null  object
 3   article_id        317883 non-null  object
 4   price             317883 non-null  float64
 5   sales_channel_id  317883 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 14.6+ MB
None
   Unnamed: 0       t_dat  ...     price sales_channel_id
0    25259351  2020-04-30  ...  0.010153                2
1    22773880  2020-02-27  ...  0.010153                1
2      490837  2018-09-29  ...  0.016254                1
3    21786921  2020-01-29  ...  0.002695                1
4    28356762  2020-06-30  ...  0.022017                2

[5 rows x 6 columns]
         Unnamed: 0          price
count  3.178830e+05  317883.000000
mean   1.587569e+07       0.027846
std    9.172726e+06       0.019172
min    1.600000e+01       0.000203
25%    7.944050e+06       0.016000
50%    1.586639e+07       0.025407
75%    2.381363e+07       0.033881
max    3.178827e+07       0.506780

In [ ]:
transactions_ps = ps.from_pandas(transactions_pd)

In [ ]:
# missing value test
transactions_colna_perc = transactions_ps.isnull().sum()/len(transactions_ps)*100
print(transactions_colna_perc)

Unnamed: 0          0.0
t_dat               0.0
customer_id         0.0
article_id          0.0
price               0.0
sales_channel_id    0.0
dtype: float64

In [ ]:
plot_dict_transactions = one_var_dist(transactions_ps)

for key,value in plot_dict_transactions.items():
  if str(type(value)) in ['<class \'plotly.graph_objs._figure.Figure\'>']:
      print(key)
      plot_dict_transactions[key].show()
  else:
    print(key)
    print(value)
  print('---------------------------------------------------------------')

Unnamed: 0
this col has unique values:317883
---------------------------------------------------------------
t_dat
this col has unique values:734
---------------------------------------------------------------
customer_id
this col has unique values:230222
---------------------------------------------------------------
article_id
this col has unique values:53890
---------------------------------------------------------------
price

---------------------------------------------------------------
sales_channel_id
2    223763
1     94120
Name: sales_channel_id, dtype: int64
---------------------------------------------------------------

''