In [1]:
spark

In [2]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", True)

In [3]:
import pyspark.pandas as ps

In [4]:
ps.set_option("compute.default_index_type", "distributed")

# 讀取速度: DataFrame vs Pyspark.pandas

In [ ]:
# DataFrame
transactions_df = spark.read.option('header','true').parquet('/user/HM_parquet/transactions_train.parquet')
# pyspark.pandas
transactions_ps = ps.read_parquet('/user/HM_parquet/transactions_train.parquet')

In [ ]:
%%timeit
transactions_df.head(10)

In [ ]:
%%timeit
transactions_ps.head(10)

# 讀取速度: csv/parquet/mysql

## hdfs parquet (ps較快)

In [4]:
%%timeit
transactions_pq = ps.read_parquet('/user/HM_parquet/transactions_train.parquet')
transactions_pq.head(20)

The slowest run took 16.54 times longer than the fastest. This could mean that an intermediate result is being cached.
1.02 s ± 782 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [5]:
%%timeit
transactions_pqdf = spark.read.option('header','true').parquet('/user/HM_parquet/transactions_train.parquet')
transactions_pqdf.head(20)

The slowest run took 4.76 times longer than the fastest. This could mean that an intermediate result is being cached.
4.73 s ± 2.05 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

## hdfs csv (df較快)

In [6]:
%%timeit
transactions_csv = ps.read_csv('/user/HM_csv/transactions_train.csv')
transactions_csv.head(20)

8.23 s ± 3.39 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
%%timeit
transactions_csvdf = spark.read.option('header','true').csv('/user/HM_csv/transactions_train.csv')
transactions_csvdf.head(20)

234 ms ± 70.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## mySQL (ps較快)

In [5]:
# mysql 配置(需要修改)
prop = {'user': 'maggie',
        'password': 'root',
        'driver': 'com.mysql.cj.jdbc.Driver',
        "numPartitions":30,
        "partitionColumn":"article_id",
        "lowerBound": "108000000",
        "upperBound":"960000000",
        "dbtable": "(select article_id, prod_name from articles) as article_less"}

# database 地址(需要修改)
url = 'jdbc:mysql://172.22.33.44:3306/HM?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC'

In [11]:
articles_sql = ps.read_sql('article_less',con=url,options=prop)
articles_sql.head(5)

   article_id          prod_name
0   108775015          Strap top
1   108775044          Strap top
2   108775051      Strap top (1)
3   110065001  OP T-shirt (Idro)
4   110065002  OP T-shirt (Idro)

In [ ]:
del articles_sql

In [8]:
prop = {'user': 'maggie',
        'password': 'root',
        'driver': 'com.mysql.cj.jdbc.Driver',
        "numPartitions":50,
        "partitionColumn":"t_dat",
        "lowerBound": "2018-09-19",
        "upperBound":"2020-09-23",
        "dbtable": "(select t_dat, customer_id, article_id from transactions_train) as transactions"}

# database 地址(需要修改)
url = 'jdbc:mysql://172.22.33.44:3306/HM?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC'

transactions_sql = ps.read_sql("transactions",con=url,options=prop)

In [9]:
transactions_sql.head(5)

                  t_dat                                                       customer_id  article_id
25769803776  2018-11-18  00023182883c3d537185d3e2d8ec2cb20bd4732f3869416f321d662c4fac7187   687331005
25769803777  2018-11-18  00023182883c3d537185d3e2d8ec2cb20bd4732f3869416f321d662c4fac7187   662888002
25769803778  2018-11-18  00023182883c3d537185d3e2d8ec2cb20bd4732f3869416f321d662c4fac7187   687720001
25769803779  2018-11-18  00023182883c3d537185d3e2d8ec2cb20bd4732f3869416f321d662c4fac7187   561814002
25769803780  2018-11-18  00023182883c3d537185d3e2d8ec2cb20bd4732f3869416f321d662c4fac7187   659204001

In [11]:
articles_sqldf = spark.read.jdbc(url=url, table='articles', properties=prop)
articles_sqldf.head(20)

2022-03-15 13:00:36,399 WARN spark.HeartbeatReceiver: Removing executor 6 with no recent heartbeats: 137487 ms exceeds timeout 120000 ms
2022-03-15 13:00:36,406 ERROR cluster.YarnScheduler: Lost executor 6 on bdse90.example.com: Executor heartbeat timed out after 137487 ms
2022-03-15 13:00:36,406 WARN scheduler.TaskSetManager: Lost task 0.0 in stage 4.0 (TID 4) (bdse90.example.com executor 6): ExecutorLostFailure (executor 6 exited caused by one of the running tasks) Reason: Executor heartbeat timed out after 137487 ms
2022-03-15 13:00:36,406 WARN scheduler.TaskSetManager: Lost task 0.0 in stage 6.0 (TID 6) (bdse90.example.com executor 6): ExecutorLostFailure (executor 6 exited caused by one of the running tasks) Reason: Executor heartbeat timed out after 137487 ms

[Row(article_id='0108775015', product_code='0108775', prod_name='Strap top', product_type_no='253', product_type_name='Vest top', product_group_name='Garment Upper body', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='1676', department_name='Jersey Basic', index_code='A', index_name='Ladieswear', index_group_no='1', index_group_name='Ladieswear', section_no='16', section_name='Womens Everyday Basics', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Jersey top with narrow shoulder straps.'),
 Row(article_id='0108775044', product_code='0108775', prod_name='Strap top', product_type_no='253', product_type_name='Vest top', product_group_name='Garment Upper body', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='10', colour_group_name='White', perceived_colour_value_id='3', perceived_colour_value_name='Light', perceived_colour_master_id='9', perceived_colour_master_name='White', department_no='1676', department_name='Jersey Basic', index_code='A', index_name='Ladieswear', index_group_no='1', index_group_name='Ladieswear', section_no='16', section_name='Womens Everyday Basics', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Jersey top with narrow shoulder straps.'),
 Row(article_id='0108775051', product_code='0108775', prod_name='Strap top (1)', product_type_no='253', product_type_name='Vest top', product_group_name='Garment Upper body', graphical_appearance_no='1010017', graphical_appearance_name='Stripe', colour_group_code='11', colour_group_name='Off White', perceived_colour_value_id='1', perceived_colour_value_name='Dusty Light', perceived_colour_master_id='9', perceived_colour_master_name='White', department_no='1676', department_name='Jersey Basic', index_code='A', index_name='Ladieswear', index_group_no='1', index_group_name='Ladieswear', section_no='16', section_name='Womens Everyday Basics', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Jersey top with narrow shoulder straps.'),
 Row(article_id='0110065001', product_code='0110065', prod_name='OP T-shirt (Idro)', product_type_no='306', product_type_name='Bra', product_group_name='Underwear', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='1339', department_name='Clean Lingerie', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='61', section_name='Womens Lingerie', garment_group_no='1017', garment_group_name='"Under-', detail_desc=' Nightwear"'),
 Row(article_id='0110065002', product_code='0110065', prod_name='OP T-shirt (Idro)', product_type_no='306', product_type_name='Bra', product_group_name='Underwear', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='10', colour_group_name='White', perceived_colour_value_id='3', perceived_colour_value_name='Light', perceived_colour_master_id='9', perceived_colour_master_name='White', department_no='1339', department_name='Clean Lingerie', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='61', section_name='Womens Lingerie', garment_group_no='1017', garment_group_name='"Under-', detail_desc=' Nightwear"'),
 Row(article_id='0110065011', product_code='0110065', prod_name='OP T-shirt (Idro)', product_type_no='306', product_type_name='Bra', product_group_name='Underwear', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='12', colour_group_name='Light Beige', perceived_colour_value_id='1', perceived_colour_value_name='Dusty Light', perceived_colour_master_id='11', perceived_colour_master_name='Beige', department_no='1339', department_name='Clean Lingerie', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='61', section_name='Womens Lingerie', garment_group_no='1017', garment_group_name='"Under-', detail_desc=' Nightwear"'),
 Row(article_id='0111565001', product_code='0111565', prod_name='20 den 1p Stockings', product_type_no='304', product_type_name='Underwear Tights', product_group_name='Socks & Tights', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='3608', department_name='Tights basic', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='62', section_name='"Womens Nightwear', garment_group_no=' Socks & Tigh"', garment_group_name='1021', detail_desc='Socks and Tights'),
 Row(article_id='0111565003', product_code='0111565', prod_name='20 den 1p Stockings', product_type_no='302', product_type_name='Socks', product_group_name='Socks & Tights', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='13', colour_group_name='Beige', perceived_colour_value_id='2', perceived_colour_value_name='Medium Dusty', perceived_colour_master_id='11', perceived_colour_master_name='Beige', department_no='3608', department_name='Tights basic', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='62', section_name='"Womens Nightwear', garment_group_no=' Socks & Tigh"', garment_group_name='1021', detail_desc='Socks and Tights'),
 Row(article_id='0111586001', product_code='0111586', prod_name='Shape Up 30 den 1p Tights', product_type_no='273', product_type_name='Leggings/Tights', product_group_name='Garment Lower body', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='3608', department_name='Tights basic', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='62', section_name='"Womens Nightwear', garment_group_no=' Socks & Tigh"', garment_group_name='1021', detail_desc='Socks and Tights'),
 Row(article_id='0111593001', product_code='0111593', prod_name='Support 40 den 1p Tights', product_type_no='304', product_type_name='Underwear Tights', product_group_name='Socks & Tights', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='3608', department_name='Tights basic', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='62', section_name='"Womens Nightwear', garment_group_no=' Socks & Tigh"', garment_group_name='1021', detail_desc='Socks and Tights'),
 Row(article_id='0111609001', product_code='0111609', prod_name='200 den 1p Tights', product_type_no='304', product_type_name='Underwear Tights', product_group_name='Socks & Tights', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='3608', department_name='Tights basic', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='62', section_name='"Womens Nightwear', garment_group_no=' Socks & Tigh"', garment_group_name='1021', detail_desc='Socks and Tights'),
 Row(article_id='0112679048', product_code='0112679', prod_name='SWEATSHIRT  OC', product_type_no='252', product_type_name='Sweater', product_group_name='Garment Upper body', graphical_appearance_no='1010001', graphical_appearance_name='All over pattern', colour_group_code='07', colour_group_name='Grey', perceived_colour_value_id='1', perceived_colour_value_name='Dusty Light', perceived_colour_master_id='12', perceived_colour_master_name='Grey', department_no='6515', department_name='Baby basics', index_code='G', index_name='Baby Sizes 50-98', index_group_no='4', index_group_name='Baby/Children', section_no='44', section_name='Baby Essentials & Complements', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Sweatshirt in soft organic cotton with a  press-stud on one shoulder (sizes 12-18 months and 18-24 months without a press-stud). Brushed inside.'),
 Row(article_id='0112679052', product_code='0112679', prod_name='SWEATSHIRT  OC', product_type_no='252', product_type_name='Sweater', product_group_name='Garment Upper body', graphical_appearance_no='1010001', graphical_appearance_name='All over pattern', colour_group_code='71', colour_group_name='Light Blue', perceived_colour_value_id='1', perceived_colour_value_name='Dusty Light', perceived_colour_master_id='2', perceived_colour_master_name='Blue', department_no='6515', department_name='Baby basics', index_code='G', index_name='Baby Sizes 50-98', index_group_no='4', index_group_name='Baby/Children', section_no='44', section_name='Baby Essentials & Complements', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Sweatshirt in soft organic cotton with a  press-stud on one shoulder (sizes 12-18 months and 18-24 months without a press-stud). Brushed inside.'),
 Row(article_id='0114428026', product_code='0114428', prod_name='Alice BANDEAU 2-p', product_type_no='306', product_type_name='Bra', product_group_name='Underwear', graphical_appearance_no='1010017', graphical_appearance_name='Stripe', colour_group_code='10', colour_group_name='White', perceived_colour_value_id='3', perceived_colour_value_name='Light', perceived_colour_master_id='9', perceived_colour_master_name='White', department_no='1334', department_name='Casual Lingerie', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='61', section_name='Womens Lingerie', garment_group_no='1017', garment_group_name='"Under-', detail_desc=' Nightwear"'),
 Row(article_id='0114428030', product_code='0114428', prod_name='Alice BANDEAU 2-p', product_type_no='306', product_type_name='Bra', product_group_name='Underwear', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='06', colour_group_name='Light Grey', perceived_colour_value_id='1', perceived_colour_value_name='Dusty Light', perceived_colour_master_id='12', perceived_colour_master_name='Grey', department_no='1334', department_name='Casual Lingerie', index_code='B', index_name='Lingeries/Tights', index_group_no='1', index_group_name='Ladieswear', section_no='61', section_name='Womens Lingerie', garment_group_no='1017', garment_group_name='"Under-', detail_desc=' Nightwear"'),
 Row(article_id='0116379047', product_code='0116379', prod_name='Frugan longsleeve', product_type_no='254', product_type_name='Top', product_group_name='Garment Upper body', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='73', colour_group_name='Dark Blue', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='2', perceived_colour_master_name='Blue', department_no='1676', department_name='Jersey Basic', index_code='A', index_name='Ladieswear', index_group_no='1', index_group_name='Ladieswear', section_no='16', section_name='Womens Everyday Basics', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Fitted top in soft stretch jersey with a wide neckline and long sleeves.'),
 Row(article_id='0118458003', product_code='0118458', prod_name='Jerry jogger bottoms', product_type_no='272', product_type_name='Trousers', product_group_name='Garment Lower body', graphical_appearance_no='1010010', graphical_appearance_name='Melange', colour_group_code='08', colour_group_name='Dark Grey', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='12', perceived_colour_master_name='Grey', department_no='5883', department_name='Jersey Basic', index_code='F', index_name='Menswear', index_group_no='3', index_group_name='Menswear', section_no='26', section_name='Men Underwear', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='"Trousers in sweatshirt fabric with an elasticated drawstring waist'),
 Row(article_id='0118458004', product_code='0118458', prod_name='Jerry jogger bottoms', product_type_no='272', product_type_name='Trousers', product_group_name='Garment Lower body', graphical_appearance_no='1010010', graphical_appearance_name='Melange', colour_group_code='07', colour_group_name='Grey', perceived_colour_value_id='2', perceived_colour_value_name='Medium Dusty', perceived_colour_master_id='12', perceived_colour_master_name='Grey', department_no='5883', department_name='Jersey Basic', index_code='F', index_name='Menswear', index_group_no='3', index_group_name='Menswear', section_no='26', section_name='Men Underwear', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='"Trousers in sweatshirt fabric with an elasticated drawstring waist'),
 Row(article_id='0118458028', product_code='0118458', prod_name='Jerry jogger bottoms', product_type_no='272', product_type_name='Trousers', product_group_name='Garment Lower body', graphical_appearance_no='1010016', graphical_appearance_name='Solid', colour_group_code='09', colour_group_name='Black', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='5', perceived_colour_master_name='Black', department_no='5883', department_name='Jersey Basic', index_code='F', index_name='Menswear', index_group_no='3', index_group_name='Menswear', section_no='26', section_name='Men Underwear', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='"Trousers in sweatshirt fabric with an elasticated drawstring waist'),
 Row(article_id='0118458029', product_code='0118458', prod_name='Jerry jogger bottoms', product_type_no='272', product_type_name='Trousers', product_group_name='Garment Lower body', graphical_appearance_no='1010010', graphical_appearance_name='Melange', colour_group_code='08', colour_group_name='Dark Grey', perceived_colour_value_id='4', perceived_colour_value_name='Dark', perceived_colour_master_id='12', perceived_colour_master_name='Grey', department_no='5883', department_name='Jersey Basic', index_code='F', index_name='Menswear', index_group_no='3', index_group_name='Menswear', section_no='26', section_name='Men Underwear', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='"Trousers in sweatshirt fabric with an elasticated drawstring waist')]

2022-03-15 13:00:40,006 WARN server.TransportChannelHandler: Exception in connection from /172.22.33.90:36008
java.io.IOException: Connection reset by peer
	at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
	at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
	at sun.nio.ch.IOUtil.read(IOUtil.java:192)
	at sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:379)
	at io.netty.buffer.PooledByteBuf.setBytes(PooledByteBuf.java:253)
	at io.netty.buffer.AbstractByteBuf.writeBytes(AbstractByteBuf.java:1132)
	at io.netty.channel.socket.nio.NioSocketChannel.doReadBytes(NioSocketChannel.java:350)
	at io.netty.channel.nio.AbstractNioByteChannel$NioByteUnsafe.read(AbstractNioByteChannel.java:151)
	at io.netty.channel.nio.NioEventLoop.processSelectedKey(NioEventLoop.java:719)
	at io.netty.channel.nio.NioEventLoop.processSelectedKeysOptimized(NioEventLoop.java:655)
	at io.netty.channel.nio.NioEventLoop.processSelectedKeys(NioEventLoop.java:581)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:493)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:986)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:748)

# mySQL vs ps.read_parquet (ps較快)

In [12]:
%%timeit
articles_pq = ps.read_parquet('/user/HM_parquet/articles.parquet')
articles_pq.count()

2022-03-10 17:46:46,581 WARN util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

800 ms ± 293 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [13]:
%%timeit
articles_sql = ps.read_sql_table(table_name='articles',con=url,options=prop)
articles_sql.count()

1.55 s ± 521 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

2022-03-10 17:47:33,961 WARN nio.NioEventLoop: Selector.select() returned prematurely 512 times in a row; rebuilding Selector io.netty.channel.nio.SelectedSelectionKeySetSelector@21241b6c.
2022-03-10 17:47:33,965 WARN nio.NioEventLoop: Selector.select() returned prematurely 512 times in a row; rebuilding Selector io.netty.channel.nio.SelectedSelectionKeySetSelector@f4079cc.
2022-03-10 17:47:33,967 WARN nio.NioEventLoop: Selector.select() returned prematurely 512 times in a row; rebuilding Selector io.netty.channel.nio.SelectedSelectionKeySetSelector@61e0e45f.
2022-03-10 17:47:33,969 WARN nio.NioEventLoop: Selector.select() returned prematurely 512 times in a row; rebuilding Selector io.netty.channel.nio.SelectedSelectionKeySetSelector@5e63d893.