In [4]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as fn
import pyspark.pandas as ps

In [5]:
import pandas as pd
import numpy as np

In [6]:
# local mode
spark = SparkSession \
        .builder \
        .appName("localmode") \
        .getOrCreate()

In [ ]:
# yarn mode
spark = SparkSession \
        .builder \
        .master("yarn") \
        .config('spark.executor.instances','1') \
        .config('spark.executor.memory','1G') \
        .config('spark.executor.cores','1') \
        .appName("yarndemo") \
        .getOrCreate()

In [3]:
# standalone mode
spark = SparkSession \
        .builder \
        .master("spark://bdse111.example.com:7077") \
        .config('spark.cores.max','1') \
        .config('spark.executor.memory','2G')\
        .appName("bdse110") \
        .getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/19 12:18:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", True)

In [8]:
ps.set_option("compute.default_index_type", "distributed")

In [9]:
spark.sparkContext.appName

'localmode'

In [10]:
spark

In [ ]:
s = pd.Series([0.1, 0.2, 0.3, 0.4])
print(s)
s = pd.Series([0.1, 0.2, 0.3, 0.4], index=['a', 'b', 'c', 'd'])
print(s)

df = pd.DataFrame(np.random.randn(6,4))
print(df)

df = pd.DataFrame(np.random.randn(6,4), columns=['a', 'b', 'c', 'd'], index=['x', 'y', 'z', 'p', 'q', 'r'])
print(df)

In [ ]:
s = ps.Series([0.1, 0.2, 0.3, 0.4])
print(s)
s = ps.Series([0.1, 0.2, 0.3, 0.4], index=['a', 'b', 'c', 'd'])
print(s)

df = ps.DataFrame(np.random.randn(6,4))
print(df)

df = ps.DataFrame(np.random.randn(6,4), columns=['a', 'b', 'c', 'd'], index=['x', 'y', 'z', 'p', 'q', 'r'])
print(df)

In [ ]:
df = pd.read_csv('pandas_example/RegularSeasonCompactResults.csv')
df.head()

In [ ]:
# print first five row
#print(df.head(20))
df.tail()

In [ ]:
# save dataframe to a csv file
df.to_csv('dfnew.csv', index=False)
#df.to_csv('dfnew.csv', index=False, header=False)
#sep=','

# Spark

In [ ]:
df = ps.read_csv('pandas_example/RegularSeasonCompactResults.csv')
df.head()

In [ ]:
# print first five row
#print(df.head(20))
df.tail()

In [ ]:
# save dataframe to a csv file
df.to_csv('psdfnew.csv', index=False)
#df.to_csv('dfnew.csv', index=False, header=False)
#sep=','

# HDFS

In [8]:
df = ps.read_csv('hdfs://bdse41.example.com:8020/tmp/RegularSeasonCompactResults.csv')
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [ ]:
# print first five row
#print(df.head(20))
df.tail()

In [ ]:
# save dataframe to a csv file
df.to_csv('hdfs://bdse41.example.com:8020/user/maggie/psdfnew.csv', index=False)
#df.to_csv('dfnew.csv', index=False, header=False)
#sep=','

In [ ]:
spark.stop()